<section id="breadcrumb" class="default-breadcrumbs hidden-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-24 padding-left-30">
        <ol class="breadcrumb">
          <li><a href="https://www.eclipse.org/">Home</a></li>
          <li><a href="/adopters/">Project Adopters</a></li>
          {#if breadcrumb}
          <li><a href="{breadcrumb.link}">{breadcrumb.label}</a></li>
          {/if}
        </ol>
      </div>
    </div>
  </div>
</section>